cfgv
colorama
contourpy
coverage[toml]
cpplint
cycler
distlib
execnet
filelock
fonttools
identify
iniconfig
kiwisolver
matplotlib
nodeenv
numpy
packaging
pillow
platformdirs
pluggy
pre-commit
pyparsing
pytest
pytest-cov
pytest-xdist
python-dateutil
pyyaml
scipy
setuptools
six
virtualenv
